<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
    <property name="ACCESS_LOG_FILE_NAME" value="application-access"/>
    <property name="DEBUG_LOG_FILE_NAME" value="application-debug"/>
    <property name="INFO_LOG_FILE_NAME" value="application-info"/>
    <property name="ERROR_LOG_FILE_NAME" value="application-error"/>

    <appender name="CONSOLE_OUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="ACCESS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/access/${ACCESS_LOG_FILE_NAME}.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <jsonTemplateUri>log_template.json</jsonTemplateUri>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/access/${ACCESS_LOG_FILE_NAME}.%d{yyyy-MM-dd-HH}_%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>1000</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="DEBUG_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/${DEBUG_LOG_FILE_NAME}.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <jsonTemplateUri>log_template.json</jsonTemplateUri>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/${DEBUG_LOG_FILE_NAME}.%d{yyyy-MM-dd-HH}_%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>300</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="INFO_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/${INFO_LOG_FILE_NAME}.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <jsonTemplateUri>log_template.json</jsonTemplateUri>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/${INFO_LOG_FILE_NAME}.%d{yyyy-MM-dd-HH}_%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>300</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/${ERROR_LOG_FILE_NAME}.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <jsonTemplateUri>log_template.json</jsonTemplateUri>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/${ERROR_LOG_FILE_NAME}.%d{yyyy-MM-dd-HH}_%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>300</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE_OUT"/>
    </root>

    <logger name="com.srltas.runtogether.adapter.in.web.filter.RequestLogFilter" level="INFO" additivity="false">
        <appender-ref ref="ACCESS_LOG"/>
    </logger>

    <logger name="com.srltas.runtogether" level="DEBUG" additivity="false">
        <appender-ref ref="DEBUG_LOG"/>
        <appender-ref ref="INFO_LOG"/>
        <appender-ref ref="ERROR_LOG"/>
    </logger>
</configuration>
