<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.srltas.runtogether.adapter.out.persistence.mybatis.MybatisUserMapper">

    <resultMap id="UserDTOResultMap" type="UserDTO">
        <id property="id" column="user_id" javaType="String"/>
        <result property="name" column="user_name" javaType="String"/>
        <collection property="userNeighborhoodDTOs" resultMap="UserNeighborhoodDTOResultMap"/>
    </resultMap>

    <resultMap id="UserNeighborhoodDTOResultMap" type="UserNeighborhoodDTO">
        <result property="verified" column="verified"/>
        <result property="verifiedAt" column="verified_at"/>
        <association property="neighborhoodDTO" resultMap="NeighborhoodDTOResultMap"/>
    </resultMap>

    <resultMap id="NeighborhoodDTOResultMap" type="NeighborhoodDTO">
        <id property="id" column="neighborhood_id"/>
        <result property="name" column="neighborhood_name"/>
        <result property="boundaryRadius" column="boundary_radius"/>
        <association property="locationDTO" resultMap="LocationDTOResultMap"/>
    </resultMap>

    <resultMap id="LocationDTOResultMap" type="LocationDTO">
        <result property="latitude" column="latitude"/>
        <result property="longitude" column="longitude"/>
    </resultMap>

    <select id="findById" parameterType="String" resultMap="UserDTOResultMap">
        SELECT
            u.id AS user_id,
            u.name AS user_name,
            n.id AS neighborhood_id,
            n.name AS neighborhood_name,
            n.latitude,
            n.longitude,
            n.boundary_radius,
            un.verified,
            un.verified_at
        FROM users u
        LEFT JOIN user_neighborhoods un ON u.id = un.user_id
        LEFT JOIN neighborhoods n ON un.neighborhood_id = n.id
        WHERE u.id = #{id}
    </select>

    <insert id="addUserNeighborhood" parameterType="AddUserNeighborhoodDTO">
        INSERT INTO user_neighborhoods (user_id, neighborhood_id, verified, verified_at)
        VALUES (#{userId}, #{neighborhoodId}, #{verified}, #{verifiedAt})
    </insert>

    <update id="updateVerifiedUserNeighborhood" parameterType="VerifiedUserNeighborhoodDTO">
        UPDATE user_neighborhoods
        SET verified = #{verified}, verified_at = #{verifiedAt}
        WHERE user_id = #{userId} AND neighborhood_id = #{neighborhoodId}
    </update>
</mapper>
